body {
  height: 500px;
  background-image: linear-gradient(to right, #7affe2, #004ea7); }

.position {
  width: 30%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

table {
  font-family: arial, sans-serif;
  width: 100%;
  color: white; }

.back-color {
  background-color: #0089e4; }

.remove-p {
  padding: 0; }

.add-todo {
  border: 2px solid #57f1ff;
  padding: 10px;
  width: 100%; }

td,
th {
  border: 3px solid #008183;
  padding: 15px; }

td {
  cursor: pointer; }

tr:nth-child(odd) {
  background-color: #016097; }

tr:nth-child(odd):hover {
  background-color: #45bafd; }

tr:nth-child(even) {
  background-color: #00b0b6; }

tr:nth-child(even):hover {
  background-color: #00dee6; }

th .fas {
  font-size: 1.3em;
  cursor: pointer;
  float: right; }

th .fas:hover {
  color: #3ffbe2; }

.clear {
  clear: both; }

strike {
  color: black; }

td .fas {
  padding: 0 10px; }

td .fas:hover {
  color: red; }

span {
  padding: 5px;
  display: inline-block;
  text-align: center;
  color: white;
  width: 0;
  transition: 0.2s linear;
  opacity: 0; }

td:hover span {
  width: 40px;
  opacity: 1.0; }

@media (max-width: 600px) {
  .position {
    width: 80%; } }
